/*--変数定義--*/
:root {
    --bg-dark: #121212;
    /*黒なら#121212*/
    --primary: #d4af37;
    --glass-bg: rgba(255,255,255,0.05); /*半透明の白*/
    --text-main: #ffffff;
    --text-muted: #a0a0a0;
    --glass-border: #a0a0a0;
}

.login-card {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 40px;
}

.login-card h2{
    color: var(--primary);
    font-size: 2rem;
    margin-bottom: 12px;
}

.login-card p{
    color: var(--text-muted);
    margin-bottom: 32px;
}

.login-btn {
    background: var(--primary);
    color: white;
    border: none;
    padding: 14px 32px;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Outfit', sans-serif;
    cursor: pointer;
    transition: opacity 0.2s;
}

.login-btn:hover {
    opacity: 0.85;
}

/*---ヘッダーのユーザー情報---*/
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-photo {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}
#user-name {
    font-size: 0.85rem;
    color: var(--text-muted);
}
#logout-btn {
    padding: 4px;
}
#logout-btn i {
    width: 18px;
    height: 18px;
}